# Google Drive API Configuration (OAuth 2.0)
GOOGLE_CLIENT_ID=983817179384-6c16amqhfp7729fds1csriglq1h9jgcp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04prcvEhE4ofxCgYIARAAGAQSNwF-L9Ir9W0MoryPZbChlPa40U_abRvE9WkPlfYEp4GGWtYq8Srj6Qe4sdl4cF2XYgBYrFBF-oI
